[Desktop Entry]
Name=Kubeplayer
Name[cs]=Kubeplayer
Name[da]=Kubeplayer
Name[de]=Kubeplayer
Name[es]=Kubeplayer
Name[et]=Kubeplayer
Name[eu]=Kubeplayer
Name[fr]=Kubeplayer
Name[hu]=Kubeplayer
Name[km]=Kubeplayer
Name[nds]=Kubeplayer
Name[nl]=Kube-afspeler
Name[pl]=Kubeplayer
Name[pt]=Kubeplayer
Name[pt_BR]=Kubeplayer
Name[sk]=Kubeplayer
Name[sv]=Kubeplayer
Name[uk]=Kubeplayer
Name[x-test]=xxKubeplayerxx
Name[zh_CN]=Kubeplayer
GenericName=Multiplatform online video player
GenericName[da]=Online videoafspiller til flere platforme
GenericName[de]=Wiedergabe von Online-Videos
GenericName[es]=Reproductor de vídeo en línea multiplataforma
GenericName[et]=Mitmeplatvormne võrgu-videomängija
GenericName[eu]=Plataforma anitzeko lineako bideo erreproduktorea
GenericName[fr]=Lecteur vidéo en ligne multi-plateforme
GenericName[hu]=Multiplatformos online videolejátszó
GenericName[km]=កម្មវិធី​​ចាក់​វីដេអូ​លើ​បណ្ដាញ​ពហុ​ប្រព័ន្ធ​ប្រតិបត្តិការណ៍
GenericName[nds]=Internet-Videoafspeler för verscheden Bedriefsystemen
GenericName[nl]=Online videospeler op meerdere platforms
GenericName[pl]=Wieloplatformowy odtwarzacz filmów online
GenericName[pt]=Leitor de vídeo multi-plataforma 'online'
GenericName[pt_BR]=Reprodutor de vídeo on-line multiplataforma
GenericName[sk]=Multiplatformový online video prehrávač
GenericName[sv]=Direktvideospelare för flera plattformar
GenericName[uk]=Інтернет-відеопрогравач, що може працювати на різних програмних платформах
GenericName[x-test]=xxMultiplatform online video playerxx
GenericName[zh_CN]=跨平台在线视频播放器
Exec=kubeplayer %u
Icon=kubeplayer
Type=Application
X-DocPath=kubeplayer/index.html
Comment=Multiplatform online video player.
Comment[da]=Online videoafspiller til flere platforme.
Comment[de]=Wiedergabe von Online-Videos.
Comment[es]=Reproductor de vídeo en línea multiplataforma.
Comment[et]=Mitmeplatvormne võrgu-videomängija.
Comment[eu]=Plataforma anitzeko lineako bideo erreproduktorea.
Comment[fr]=Lecteur vidéo en ligne multi-plateforme.
Comment[hu]=Multiplatformos online videolejátszó.
Comment[km]=កម្មវិធី​ចាក់​វីដេអូ​លើ​បណ្ដាញ​​ពហុប្រព័ន្ធ​ប្រតិបត្តិការណ៍ ។
Comment[nds]=Internet-Videoafspeler för verscheden Bedriefsystemen
Comment[nl]=Online videospeler op meerdere platforms.
Comment[pl]=Wieloplatformowy odtwarzacz filmów online.
Comment[pt]=Um leitor de vídeo multi-plataforma 'online'.
Comment[pt_BR]=Reprodutor de vídeo on-line multiplataforma.
Comment[sk]=Multiplatformový online video prehrávač.
Comment[sv]=Direktvideospelare för flera plattformar
Comment[uk]=Інтернет-відеопрогравач, що може працювати на різних програмних платформах.
Comment[x-test]=xxMultiplatform online video player.xx
Comment[zh_CN]=跨平台在线视频播放器.
Terminal=false
Categories=KDE;AudioVideo;Player;
X-DBUS-StartupType=Unique
MimeType=text/html;
