[Desktop Entry]
Name=Kubeplayer
Name[cs]=Kubeplayer
Name[de]=Kubeplayer
Name[es]=Kubeplayer
Name[et]=Kubeplayer
Name[fr]=Kubeplayer
Name[nds]=Kubeplayer
Name[nl]=Kube-afspeler
Name[pt]=Kubeplayer
Name[pt_BR]=Kubeplayer
Name[sv]=Kubeplayer
Name[uk]=Kubeplayer
Name[x-test]=xxKubeplayerxx
GenericName=Multiplatform online video player
GenericName[de]=Wiedergabe von Online-Videos
GenericName[es]=Reproductor de vídeo en línea multiplataforma
GenericName[et]=Mitmeplatvormne võrgu-videomängija
GenericName[fr]=Lecteur vidéo en ligne multi-plateforme
GenericName[nds]=Internet-Videoafspeler för verscheden Bedriefsystemen
GenericName[nl]=Online videospeler op meerdere platforms
GenericName[pt]=Leitor de vídeo multi-plataforma 'online'
GenericName[pt_BR]=Reprodutor de vídeo on-line multiplataforma
GenericName[sv]=Direktvideospelare för flera plattformar
GenericName[uk]=Інтернет-відеопрогравач, що може працювати на різних програмних платформах
GenericName[x-test]=xxMultiplatform online video playerxx
Exec=kubeplayer %i -caption "%c"
Icon=kubeplayer
Type=Application
X-DocPath=kubeplayer/index.html
Comment=Multiplatform online video player.
Comment[de]=Wiedergabe von Online-Videos.
Comment[es]=Reproductor de vídeo en línea multiplataforma.
Comment[et]=Mitmeplatvormne võrgu-videomängija.
Comment[fr]=Lecteur vidéo en ligne multi-plateforme.
Comment[nds]=Internet-Videoafspeler för verscheden Bedriefsystemen
Comment[nl]=Online videospeler op meerdere platforms.
Comment[pt]=Um leitor de vídeo multi-plataforma 'online'.
Comment[pt_BR]=Reprodutor de vídeo on-line multiplataforma.
Comment[sv]=Direktvideospelare för flera plattformar
Comment[uk]=Інтернет-відеопрогравач, що може працювати на різних програмних платформах.
Comment[x-test]=xxMultiplatform online video player.xx
Terminal=false
Categories=Qt;KDE;AudioVideo;Player;Video;

