[Desktop Entry]
Name=Kubeplayer
GenericName=Multiplatform online video player
Exec=kubeplayer %i -caption "%c"
Icon=plasma
Type=Application
X-DocPath=kubeplayer/index.html
Comment=Multiplatform online video player.
Terminal=false
